h3.title-aside.search-aside Búsqueda guardadas
ul
    li#link-terror.link-search-save(data='link-terror')
        a(href="javascript:;" ) terror puro
    li#link-search.link-search-save(data='link-search')
        a(href="javascript:;" ) search drama
    li#link-comedias.link-search-save(data='link-comedias')
        a(href="javascript:;") comedias en inglés

h3.title-aside Categorías
ul
    li
        a(href="javascript:;") Todos
    li
        a(href="javascript:;") Terror
    li
        a(href="javascript:;") Comedia
    li
        a(href="javascript:;") Drama
    
h3.title-aside Idioma
ul
    li
        a(href="javascript:;") Todos
    li
        a(href="javascript:;") Inglés
    li
        a(href="javascript:;") Español
    li
        a(href="javascript:;") Portugués

h3.title-aside Publicación
ul
    li
        a(href="javascript:;") Todos
    li
        a(href="javascript:;") Hoy
    li
        a(href="javascript:;") Hace una semana
    li
        a(href="javascript:;") Hace un mes
    li
        a(href="javascript:;") Hace un año

h3.title-aside Presentación
ul
    li
        a(href="javascript:;") Impreso
    li
        a(href="javascript:;") Digital
    li
        a(href="javascript:;") Impreso y Digital


















